.editCartProduct {
  border: 1px solid #ccc !important;
  margin: 30px;
  padding-bottom: 30px;
}
.buttonWrapper {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
